@charset "utf-8";
/* CSS Document */
html, body, table, td{
	margin:0px;
	}

	/* Aqui empieza el slider del documento */
#descargasslider{
	width:100%;
	height:400px;
	background:url(../img/descargasslider.jpg) no-repeat center center;
	background-size:cover;
	
	}
	/* Aqui termina el slider del documento */
	
	/* Aqui empieza el inicio de sesion*/
		.caja{
		width: 382px;
		display: inline-block;
		height:20px;
padding: 4px;
margin: 0;
outline: 0;
background-color: #fff;
border: 1px solid #e1e8ed;
border-radius: 3px;
		}
	.botoninicio{
		color: #292f33;
text-decoration: none;
background-color: #e1e8ed;
background-image: linear-gradient(#fff,#e1e8ed);
border-color: #e1e8ed;
background-image: linear-gradient(#fff,#f5f8fa);
border: 1px solid #e1e8ed;
border-radius: 4px;
color: #66757f;
margin-top:10px;
cursor: pointer;
display: block;
font-size: 14px;
font-weight: bold;
outline:none;
line-height: normal;
padding: 8px 16px;
position: relative;
width:126;
height:34px;
		}
	.botoninicio:hover{
		color: #292f33;
text-decoration: none;
background-color: #e1e8ed;
background-image: linear-gradient(#fff,#e1e8ed);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
border-color: #e1e8ed;
		}
		#olvidar{
			color:blue;
			display:block;
			margin-top:40px;
			cursor:pointer;
			}
		#olvidar:hover{
			text-decoration:underline;
			}
	

/* Aqui termina el inicio de sesion */
	
/* Aqui empieza los derechos reserados del documento */
				  #derechosreservados{
					  width:100%;
					  padding:20px;
						border-top-width:5px;
		border-top-style:solid;
		border-top-color:rgba(0,153,255,1);
		font: 16px/135% 'Open Sans','Nanum Gothic',sans-serif;
		background-image:url(../img/mapa.png);
		background-position:right;
		background-repeat:no-repeat;
					  }
				.titulodr{
					font-weight:bold;
					margin:10px;
					margin-left:0px;
					
					}
				
				.textodr{
					cursor:pointer;
					list-style:none;
					}
				.textodr:hover{
					text-decoration:underline;
					}
				.cuadrodr{
					width:20%;
					
					}
				ul{
					list-style:none;
					
					}
	/* Aqui terminan los derechos resevados del documento */
		/* Aqui empieza el contenido del menu */
	a{
		text-decoration:none;
		color:black;
		}
#superior{
     z-index:99;
	width:100%;
	height:50px;
	background-color:rgba(255,255,255,1);
	/*
		background: -webkit-linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,1));
  background: -o-linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,1)); 
  background: -moz-linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,1));
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,1)); 
  
  */
	
	min-width:1150px;
	border-bottom: 1px solid rgba(0,0,0,0.15);
	box-shadow: 0em 0em 0.0em black;
	position:fixed;
	top:0px;
	}
	
	
	#cajadetextotitulo{
		float:right;
		margin-right:20px;
		outline:none;
		width:250px;
		font-size:18px;
		font-family:Tahoma, Geneva, sans-serif;
		padding-left:5px;
		height:25px;
		border:0px;
		display:none;
		}
		#titulotexto{
		font-family:"Arial Black", Gadget, sans-serif;
		font-size:16px;
		padding-left:20px;
		margin-left:10px;
		padding-top:5px;
		float:right;
		font-weight:bold;
		cursor:pointer;
		opacity:0.9;
		color:black;
		background-position:left;
		background-repeat:no-repeat;
		}
	#titulotexto:hover{
		opacity:1;
		}
	#perfil{
		float:right;
		margin-right:20px;
		margin-left:20px;
		opacity:0.3;
		cursor:pointer;
		}
	#perfil:hover{
		opacity:1;
		}

	#logo{
		float:left;
		padding-left:100px;
		cursor:pointer;
		}
	/* Aqui termina el contenido del menu */
	

/* Aqui empieza el titulo del documento */
	.titulodescarga{
color: #1b2229;
font-weight: bold;
font-size:36px;
text-transform:uppercase;
font-family:Tahoma, Geneva, sans-serif;

		}
    .titulomenu{
		color: white;
		cursor:pointer;
		margin-right:50px;
		padding-top:30px;
font-weight: bold;
/* background:url(../img/trianguloblanco.png) no-repeat center; */
		}
	.titulomenu:hover{
		text-decoration:underline;
		}
	/* Aqui empieza el texto del Documento */
		.texto{
		padding:50px;
	padding-bottom:0px;
		font-size:20px;
		font-family:Tahoma, Geneva, sans-serif;
		}
		.imagen{
		height:350px;
		float:left;
	margin:30px;
	margin-bottom:0px;
		box-shadow: 0.0em 0.0em 0.3em black;
		}
		.linea {
border-bottom: #e6e6e6 3px solid;
padding-bottom: 10px;
display: block;

}